body {
    background-color: #67A8CD;
}
 
.container-geral {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing {
    display: flex;
    flex-direction: column;
    gap: 9.8vh;

}

.topo-landing {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20vh;
}

.bem-vindo p {
    font-size: 3.4rem;
    margin: 0;
    color: #ffffff;
    font-family: "Be Vietnam Pro-Regular", Helvetica;
}

.nomeLanding {
    color: #295587;
    font-weight: 600;
    text-decoration-line: underline;
}

.img{
    max-width: 34vh;
    border-radius: 50%;
}

.botoes {
    display: flex;
    flex-direction: column;
    gap: 5.92vh;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 34vh;
    height: 11.5vh;

    background-color: #8dbeda;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #357599;
}

a {
    text-decoration: none;
    font-family: "Inter-Regular", Helvetica;
    color: #ffffff;
    /*font-size: 3.1rem;*/
    font-size: 4.6vh;

} 

/* Responsividade -> pensado para o galaxy s20 uktra (412 x 915)*/

@media (max-width: 412px) {
    .img{
        max-width: 14vh;    }

    .bem-vindo p {
        font-size: 1.7rem;
        max-width: 15vh;
    }

    .topo-landing {
 
        gap: 4vh;
    }

    .btn {
        width: 28vh;
        height: 8.5vh;
        border-radius: 30px;
    }

    a {
        font-size: 3.6vh;
    } 
}