@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Fonte Be Vietnam Pro, importei a parte do google fonts pois por algum motivo não estava funcionando só com o link geral!*/

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap'); /*Fonte Roboto Serif, importei a parte do google fonts pois por algum motivo não estava funcionando só com o link geral!*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;  
}

main {
    padding-left: 10vh;
    padding-right: 10vh;
}

/* CONFIG DO HEADER*/

.topo {
    background-color: #67A8CD;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;  /* Faz com que o conteúdo dentro do topo seja posicionado com base nele */
}

.nome {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 35pt;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* move metade da largura pra esquerda */
}

.icons {
    position: absolute;
    right: 5vh;        /* distância da borda direita */
    display: flex;
    gap: 10px;   
    flex-direction: row;
}

.home {
    right: 10vh;  /* Distância do botão à direita */
    width: 6.6vh;
    height: 6.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DBEDA;
    border-radius: 100px;
}

.modo {
    right: 10vh;  /* Distância do botão à direita */
    width: 6.6vh;
    height: 6.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DBEDA;
    border-radius: 100px;
}

#btnDark {
    all: unset;
    cursor: pointer;
}

.baixo{
    background-color: #8DBEDA;
    height: 6.6vh;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    align-items: center; 
    gap: 10vh;     
}

.hd-sobre a, .hd-projetos a, .hd-contato a {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 550;
    font-size: 22pt;
    text-underline-position: from-font;
}

.hd-sobre a:hover, .hd-projetos a:hover, .hd-contato a:hover {
    color: #357599;
}

.hd-barra {
    width: 3px;
    height: 75%;
    background-color: white;
}

/* Config para os textos e subtitulos*/

.subtitulo {
    font-family: "Be Vietnam Pro", Helvetica;
    font-weight: 100;
    font-size: 30pt;
}

.texto, .texto2 {
    font-family: "Roboto Serif", Helvetica;
    font-weight: 100;
    font-size: 18pt;
    text-indent: 6vh;
    text-align: justify;
}

.texto2 {
    margin-top: 0;
}
/* CONFIG DO FOOTER*/

.footer {
    height: 9vh;
    background-color: #67A8CD;
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.txt-footer {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 24pt;
}



.btnFooter {
    all: unset;
    cursor: pointer;
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DBEDA;
    color: black;
}

.icon-contato {
    width: 6.6vh;
    height: 6.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8DBEDA;
    border-radius: 100px;
}


/* CONFIGS MODO DARK*/

/* body dark */
.darkBody {
    background-color: #357599;
    color: white;
}

/* header dark */

.darkTopo {
    background-color: #295587;
}

.darkHome {
    background-color: #4292BF;
}

.darkModo {
    background-color: #4292BF;
}

.darkBaixo{
    background-color: #1D6289;
}

.darkBaixo a:hover {
    color: #4292BF;
}

/* footer dark*/
.darkFooter {
    background-color: #1D6289;
}

/* label dark */

.darkLabel {
    color: white;
}

/* txt contatos dark*/

.darkTxt-info {
    color: white;
}

/* icon contatos dark */

.darkIcon-contato {
    background-color: #4292BF;
}

/* botao footer dark*/

.darkBtnfooter {
    background-color: #4292BF;

}

/* Responsividade -> pensado para o galaxy s20 uktra (412 x 915)*/

@media (max-width: 412px) {
    .topo {
        height: 7vh;
    }

    .nome {
        font-size: 13pt;
    }
    .home {
        width: 3.6vh;
        height: 3.6vh;
    }

    .modo {
        width: 3.6vh;
        height: 3.6vh;
    }

    i.fa-solid {
        font-size: 1rem; /* reduz o tamanho do ícone */
    }
    .icons {
        right: 1.5vh;        /* distância da borda direita */
    }

    .baixo {
        gap: 1vh;
    }

    .hd-sobre a, .hd-projetos a, .hd-contato a {
        font-size: 12pt;
    }
    .hd-barra {
        height: 25%;
        width: 1.5px;
    }

    .subtitulo {
        font-size: 30pt;
        display: flex;
        justify-content: center;
    }

    .texto, .texto2 {
        font-size: 14pt;
        text-indent: 6vh;
        text-align: justify;
    }

    .footer {
        height: 7vh;
        gap: 3vh;
    }
    
    .txt-footer {
        font-size: 12pt;
    }
}